.main-about {
  background: linear-gradient(to right, #da22ff, #f7971e, #00c9ff, #2afadf);
  -webkit-background-clip: text;
  color: transparent;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, visibility 0.6s;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.coding-stats-section {
  margin-top: 50px; 
}

.coding-chart,
.coding-time {
  padding: 50px; 
}

.coding-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coding-time {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
