.counter-border {
  --border-radius: 12px;
  --border-size: 1px;
  --padding: 1px;
  --border-bg: conic-gradient(
    from 180deg at 50% 50%,
    #e92a67 0deg,
    #a853ba 112.5deg,
    #2a8af6 228.75deg,
    rgba(42, 138, 246, 0) 360deg
  );
  position: absolute;
  overflow: hidden;
  font-size: 2rem;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
  z-index: 0;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
}

.counter-border i {
  content: "";
  position: absolute;
  top: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  left: var(--border-size);
  padding: var(--border-size);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  border-radius: calc(var(--border-radius) + var(--border-size));
}

.counter-border i::before {
  content: "";
  display: block;
  background: var(--border-bg);
  box-shadow: 0px 0px 40px 20px --var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  animation: spin 5s linear infinite;
}

@media (prefers-reduced-motion) {
  .counter-border i::before {
    animation: none;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.total-time-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .total-time-card {
    max-width: 100%;
  }
}

.total-time-card h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.gradient-text {
  /* background: linear-gradient(180deg, #77b8ff 0%, rgba(42, 138, 246, 0.4) 100%); */
  background: linear-gradient(to right, #da22ff, #f7971e, #00c9ff, #2afadf);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  display: inline; 
}

.total-time-card .counter-value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e92a67;
  margin-bottom: 10px;
}

.total-time-card .date-info {
  font-size: 0.9rem;
  color: #777;
  text-align: center;
  padding-bottom: 5px;
}
