@keyframes jumpUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.total-time-card {
  animation: jumpUp 1s ease-out forwards;
}

.arrow-icon {
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  display: inline-block;
  margin-top: 10px;
}