.gradient-1 {
  background: linear-gradient(to right, #da22ff, #9733ee);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-2 {
  background: linear-gradient(to right, #f7971e, #ffd200);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-3 {
  background: linear-gradient(to right, #00c9ff, #92fe9d);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-4 {
  background: linear-gradient(to right, #2afadf, #4c83ff);
  -webkit-background-clip: text;
  color: transparent;
}
